# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

In [1]:
1 R
2 Phython
3 SQL

SyntaxError: invalid syntax (4210876955.py, line 1)

1 "R"
2 "Python"
3 " SQL"

1. R
2. Python
3. SQL

#### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

| Data Science Tools|
---------------------
| Pandas |
| Jupyter Notebooks |
| Scikit |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## List popular languages for Data Science
### Objectives:
- Phython
- SQL
- R

## Objective
- Learn R language
- Learn how to setup a Jupyter Notebook
- Learn how to work in RStudio
- Learn how to use GitHub

## Author: Rebecca Callen

# Author
Rebecca Callen